name: armTemplateDeployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  resource_group_name: rg-githubactions
  location: eastus
  subscriptionId: 9f91d3ca-747b-4642-a795-c40a3d1f7bfd

jobs:
  armDeploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # - name: Deploy Resource group rg-githubactions with Az CLI
      #   uses: Azure/cli@v1.0.7
      #   with:
      #     inlinescript: |
      #       az deployment sub create --location "eastus" --template-file ./arm-templates/resourcegroup.json

      - name: Deploy Resource Group ${{ env.resource_group_name}}
        uses: Azure/arm-deploy@v1
        with:
          scope: subscription
          subscriptionId: ${{ env.subscriptionId}}
          region: "eastus"
          template: ./arm-templates/resourcegroup.json
          parameters: location=${{ env.location}}
            resourceGroupName=${{ env.resource_group_name}}
          deploymentName: ${{ env.resource_group_name}}

      - name: Deploy storage account
        uses: Azure/arm-deploy@v1
        id: storageAccountDeploy
        with:
          scope: resourcegroup
          resourceGroupName: ${{ env.resource_group_name}}
          subscriptionId: ${{ env.subscriptionId}}
          template: ./arm-templates/storageaccount.json
          parameters:
            #./arm-templates/storageaccount.parameters.json
            sku=Standard_LRS
            storageAccountName=globostg0812
            location=${{ env.location}}
          deploymentMode: incremental

      - run: echo ${{ steps.storageAccountDeploy.outputs.BlobUri }}

      - name: Deploy Virtual machine
        uses: Azure/arm-deploy@v1
        with:
          scope: resourcegroup
          resourceGroupName: ${{ env.resource_group_name}}
          subscriptionId: ${{ env.subscriptionId}}
          template: ./arm-templates/virtualmachine.json
          parameters: adminPassword=${{ secrets.UBUNTU_ADMIN_PASSWORD }}
            location=${{ env.location}}
          deploymentMode: incremental
