name: armTemplateDeployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  armDeploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # - name: Deploy Resource group rg-githubactions with Az CLI
      #   uses: Azure/cli@v1.0.7
      #   with:
      #     inlinescript: |
      #       az deployment sub create --location "eastus" --template-file ./arm-templates/resourcegroup.json

      - name: Deploy Resource Group rg-githubactions
        uses: Azure/arm-deploy@v1
        with:
          scope: subscription
          subscriptionId: 9f91d3ca-747b-4642-a795-c40a3d1f7bfd
          region: East US
          template: ./arm-templates/resourcegroup.json
          parameters: location="eastus"
            resourceGroupName=rg-githubactions
          deploymentName: rg-githubactions

      - name: Deploy storage account
        uses: Azure/arm-deploy@v1
        id: storageAccountDeploy
        with:
          scope: resourcegroup
          resourceGroupName: rg-githubactions
          subscriptionId: 9f91d3ca-747b-4642-a795-c40a3d1f7bfd
          template: ./arm-templates/storageaccount.json
          parameters:
            #./arm-templates/storageaccount.parameters.json
            sku=Standard_LRS
            storageAccountName=globostg0812
            location="Central US"
          deploymentMode: incremental

      - run: echo ${{ steps.storageAccountDeploy.outputs.BlobUri }}

      - name: Deploy Virtual machine
        uses: Azure/arm-deploy@v1
        id: storageAccountDeploy
        with:
          scope: resourcegroup
          resourceGroupName: rg-githubactions
          subscriptionId: 9f91d3ca-747b-4642-a795-c40a3d1f7bfd
          template: ./arm-templates/virtualmachine.json
          parameters:
            #./arm-templates/storageaccount.parameters.json
            adminPassword="My$ecureP@ssword!"
          deploymentMode: incremental
